


#canvas {
    transform: translateX(-120%);
    animation-name: none;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.controls {
    display: none;
}

@keyframes reveal {
    from {
        transform: translateX(-110%);
    }
    to {
        transform: translateX(0%);
    }
}

